@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  max-width: 1600px;
  /*Forsiden: grid på hovedkomponentene header, main og footer:*/
  /*CSS for mobil start*/
  /*Slutt*/
  /*CSS for desktop start*/
  /*Slutt*/
  /*Portfolio/produktsiden: grid på hovedkomponentene header, main og footer:*/
  /*CSS for mobil start*/
  /*Slutt*/
  /*CSS for desktop start*/
  /*Slutt*/
  /*About-siden: grid på hovedkomponentene header, main og footer:*/
  /*CSS for mobil start*/
  /*Slutt*/
  /*CSS for desktop start*/
  /*Slutt*/
}
body #grid-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
}
body #grid-index header {
  grid-area: header;
  height: 950px;
  justify-content: center;
}
body #grid-index header nav ul #home {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #e6bd43;
}
body #grid-index header nav ul .btn {
  text-decoration: none;
  margin: 0 0 0.5rem 0;
}
body #grid-index header #video {
  /*Se kilde 3 i referanseliste*/
  display: none;
}
body #grid-index header #image {
  opacity: 0.5; /*Se kilde 5 i referanseliste*/
  height: 500px;
}
body #grid-index header section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: self-start;
}
body #grid-index header section h1 {
  margin: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
body #grid-index header section p {
  font-size: 1.5rem;
  padding: 1rem 1rem 2rem 1rem;
  margin: 0;
  text-align: center;
}
body #grid-index header section .btn {
  text-decoration: none;
  margin: 0 0 0.5rem 0;
}
body #grid-index main {
  grid-area: main;
}
body #grid-index main #subheading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem;
}
body #grid-index main #subheading h2 {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  flex-basis: 85%;
}
body #grid-index main #subheading p {
  font-size: 1.5rem;
  text-align: center;
  flex-basis: 85%;
}
body #grid-index main #about-our-company {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e6bd43;
  padding: 2.5rem 1.5rem;
  justify-content: center;
}
body #grid-index main #about-our-company #about-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 60%;
}
body #grid-index main #about-our-company #about-text h2 {
  font-weight: 800;
}
body #grid-index main #about-our-company #about-text p {
  font-size: 1.3rem;
}
body #grid-index main #about-our-company #about-text a {
  text-decoration: none;
  color: #000;
  border: 3px solid #000;
  border-radius: 3px;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.3rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
}
body #grid-index main #services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body #grid-index main #services h2 {
  flex-basis: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  font-weight: 800;
}
body #grid-index main #services article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 100px;
  max-width: 300px;
  flex-grow: 1;
  padding: 1.5rem 0;
}
body #grid-index main #services article i {
  font-size: 2.5rem;
}
body #grid-index main #services article h3 {
  font-weight: 800;
  margin: 0.5rem 0;
}
body #grid-index main #services article p {
  font-size: 1.1rem;
  text-align: center;
}
body #grid-index main #newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dfdddd;
  text-align: center;
  height: 250px;
}
body #grid-index main #newsletter form label {
  font-size: 1.5rem;
  font-weight: 800;
  display: block;
  width: 100%;
}
body #grid-index main #newsletter form #enter-email {
  padding: 1.45rem 2rem 1.1rem 2rem;
  border: none;
}
body #grid-index main #newsletter form #sign-up {
  background-color: #e6bd43;
  border: none;
  text-align: center;
  padding: 0.95rem;
  margin: 2rem 0 0 0;
  font-size: 1.2rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
}
body #grid-index main #newsletter form #sign-up:hover {
  background-color: #252525;
  color: #e6bd43;
}
body #grid-index footer {
  grid-area: footer;
}
@media only screen and (min-width: 700px) {
  body #grid-index {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  body #grid-index header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 600px;
  }
  body #grid-index header nav {
    max-height: 188.9px;
  }
  body #grid-index header #video {
    display: block;
    /*Se kilde 3 i referanseliste*/
    width: 100%;
    position: absolute;
    top: 200px;
    z-index: -1;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover; /*Se kilde 4 i referanseliste*/
    opacity: 0.5; /*Se kilde 5 i referanseliste*/
  }
  body #grid-index header #image {
    display: none;
  }
  body #grid-index header section {
    flex-basis: 70%;
  }
  body #grid-index main {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  body #grid-index main #subheading h2 {
    flex-basis: 60%;
  }
  body #grid-index main #subheading p {
    flex-basis: 60%;
  }
  body #grid-index main #about-our-company {
    justify-content: flex-start;
  }
  body #grid-index main #about-our-company #about-image {
    padding: 0 2rem 0 0;
  }
  body #grid-index main #about-our-company #about-text {
    justify-content: center;
    padding: 0 0 3rem 0;
  }
  body #grid-index main #about-our-company #about-text a:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  body #grid-index main #services {
    justify-content: space-evenly;
  }
  body #grid-index main #services h2 {
    font-size: 2.5rem;
  }
  body #grid-index main #newsletter form label {
    font-size: 2.5rem;
  }
  body #grid-index footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
body #grid-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
}
body #grid-products header {
  grid-area: header;
  height: 950px;
  justify-content: center;
}
body #grid-products header nav ul #portfolio {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #e6bd43;
}
body #grid-products header nav ul .btn {
  text-decoration: none;
  margin: 0 0 0.5rem 0;
}
body #grid-products header #image {
  opacity: 0.5; /*Se kilde 5 i referanseliste*/
  height: 500px;
}
body #grid-products header h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
  align-self: self-start;
  text-align: center;
}
body #grid-products main {
  grid-area: main;
  margin: 1.5rem;
  /*max-width: 1600px;*/
}
body #grid-products main #navigering h2 {
  border-bottom: 5px solid #e6bd43;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 0 0 1rem 0;
}
body #grid-products main #navigering nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
}
body #grid-products main #navigering nav ul li {
  list-style: none;
  padding: 0.4rem;
  margin: 0.7rem;
  font-size: 1.5rem;
  border: 2px solid #000;
  border-radius: 5px;
}
body #grid-products main #navigering nav ul li a {
  text-decoration: none;
  color: #000;
}
body #grid-products main #branding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body #grid-products main #branding h3 {
  border-bottom: 5px solid #e6bd43;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 0 0 1rem 0;
  width: 100%;
}
body #grid-products main #branding article {
  padding: 0 0 0 1.3rem;
  flex-grow: 2;
  max-width: 692px;
  max-height: 692px;
}
body #grid-products main #branding article img {
  width: 100%;
}
body #grid-products main #branding article h4 {
  font-weight: 800;
  margin: 0.5rem 0 2.5rem 0;
  font-size: 1.3rem;
}
body #grid-products main #design {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body #grid-products main #design h3 {
  border-bottom: 5px solid #e6bd43;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 0 0 1rem 0;
  width: 100%;
}
body #grid-products main #design article {
  padding: 0 0 0 1.3rem;
  flex-grow: 2;
  max-width: 692px;
}
body #grid-products main #design article img {
  width: 100%;
}
body #grid-products main #design article h4 {
  font-weight: 800;
  margin: 0.5rem 0 2.5rem 0;
  font-size: 1.3rem;
}
body #grid-products main #development {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body #grid-products main #development h3 {
  border-bottom: 5px solid #e6bd43;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 0 0 1rem 0;
  width: 100%;
}
body #grid-products main #development article {
  padding: 0 0 0 1.3rem;
  flex-grow: 2;
  max-width: 692px;
}
body #grid-products main #development article img {
  width: 100%;
}
body #grid-products main #development article h4 {
  font-weight: 800;
  margin: 0.5rem 0 2.5rem 0;
  font-size: 1.3rem;
}
body #grid-products footer {
  grid-area: footer;
}
@media only screen and (min-width: 700px) {
  body #grid-products {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  body #grid-products header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 600px;
  }
  body #grid-products header nav {
    max-height: 188.9px;
  }
  body #grid-products header #image {
    height: 400px;
  }
  body #grid-products main {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  body #grid-products main #navigering h2 {
    font-size: 2.5rem;
  }
  body #grid-products main #branding h3 {
    font-size: 2.5rem;
  }
  body #grid-products main #branding article img:hover {
    transform: scale(1.07);
    transition: 0.7s ease-out;
  }
  body #grid-products main #design h3 {
    font-size: 2.5rem;
  }
  body #grid-products main #development h3 {
    font-size: 2.5rem;
  }
  body #grid-products footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
body #grid-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
}
body #grid-about header {
  grid-area: header;
  height: 1500px;
}
body #grid-about header nav ul #about {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #e6bd43;
}
body #grid-about header nav ul .btn {
  text-decoration: none;
  margin: 0 0 0.5rem 0;
}
body #grid-about header #image {
  height: 1050px;
}
body #grid-about header section {
  background-color: rgba(255, 255, 255, 0.6274509804);
  display: flex;
  flex-direction: column;
  /*align-self: center;*/
  margin: 4rem 3rem 3rem 3rem;
  padding: 2.5rem;
  max-width: 700px;
  height: -moz-fit-content;
  height: fit-content;
}
body #grid-about header section h1 {
  font-weight: 800;
  order: 2;
  padding: 0;
  margin: 1.2rem 0 0 0;
}
body #grid-about header section #name {
  order: 1;
  margin: 1rem 0 0 0;
  font-size: 1.3rem;
}
body #grid-about header section #info {
  order: 3;
  font-size: 1.3rem;
}
body #grid-about header section a {
  order: 4;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  margin: 0 0 0.5rem 0;
}
body #grid-about main {
  grid-area: main;
}
body #grid-about main #services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body #grid-about main #services h2 {
  flex-basis: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  font-weight: 800;
}
body #grid-about main #services article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 100px;
  max-width: 300px;
  flex-grow: 1;
  padding: 1.5rem 0;
}
body #grid-about main #services article i {
  font-size: 2.5rem;
}
body #grid-about main #services article h3 {
  font-weight: 800;
  margin: 0.5rem 0;
}
body #grid-about main #services article p {
  font-size: 1.1rem;
  text-align: center;
}
body #grid-about main #clients {
  background-color: #e6bd43;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0.5rem;
}
body #grid-about main #clients h2 {
  text-align: center;
  font-weight: 800;
  width: 100%;
  padding: 0 0 2rem 0;
}
body #grid-about main #clients img {
  padding: 1.5rem;
}
body #grid-about main #contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f5f3f3;
}
body #grid-about main #contact h2 {
  font-weight: 800;
  text-align: center;
  width: 100%;
}
body #grid-about main #contact form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
}
body #grid-about main #contact form h3 {
  font-weight: 800;
  font-size: 1.4rem;
}
body #grid-about main #contact form input {
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 40px;
  margin: 0.4rem 0 0.7rem 0;
}
body #grid-about main #contact form #type-message {
  height: 130px;
}
body #grid-about main #contact form #send-message {
  margin: 0.2rem 0 0.5rem 0;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.1rem;
}
body #grid-about main #contact #contact-info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 0 2rem 2rem 2rem;
}
body #grid-about main #contact #contact-info h3 {
  margin: 1rem 0 0.5rem 0;
  font-weight: 800;
  font-size: 1.4rem;
}
body #grid-about main #contact #contact-info p {
  font-size: 1.3rem;
}
body #grid-about main #contact #contact-info span {
  padding: 0.7rem 0;
  font-size: 1.3rem;
}
body #grid-about main #contact #contact-info span i {
  padding: 0 1.5rem 0 0;
}
body #grid-about main #contact #map {
  width: 100%;
  height: 250px;
}
body #grid-about main #contact #map iframe {
  width: 100%;
  height: 100%;
}
body #grid-about footer {
  grid-area: footer;
}
@media only screen and (min-width: 700px) {
  body #grid-about {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  body #grid-about header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 780px;
    justify-content: end;
  }
  body #grid-about header nav {
    height: 188.9px;
  }
  body #grid-about header #image {
    height: 600px;
  }
  body #grid-about main {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  body #grid-about main #services h2 {
    font-size: 2.2rem;
  }
  body #grid-about main #clients h2 {
    font-size: 2.2rem;
  }
  body #grid-about main #contact {
    flex-direction: row;
    align-items: baseline;
    padding: 3rem 0 0 0;
  }
  body #grid-about main #contact h2 {
    font-size: 2.2rem;
  }
  body #grid-about main #contact form {
    flex-basis: 50%;
  }
  body #grid-about footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

/*Oppsett for headeren*/
.header, body #grid-index header, body #grid-products header, body #grid-about header {
  display: flex;
  flex-wrap: wrap;
}
.header nav, body #grid-index header nav, body #grid-products header nav, body #grid-about header nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}
.header nav span, body #grid-index header nav span, body #grid-products header nav span, body #grid-about header nav span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav ul, body #grid-index header nav ul, body #grid-products header nav ul, body #grid-about header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header nav ul li, body #grid-index header nav ul li, body #grid-products header nav ul li, body #grid-about header nav ul li {
  list-style: none;
  font-size: 2rem;
  padding: 0.6rem 0;
}
.header nav ul li a, body #grid-index header nav ul li a, body #grid-products header nav ul li a, body #grid-about header nav ul li a {
  text-decoration: none;
  color: #000;
}
.header nav ul #contact-btn, body #grid-index header nav ul #contact-btn, body #grid-products header nav ul #contact-btn, body #grid-about header nav ul #contact-btn {
  padding: 1.3rem 0;
}
.header #image, body #grid-index header #image, body #grid-products header #image, body #grid-about header #image {
  /*Se kilde 3 i referanseliste*/
  width: 100%;
  position: absolute;
  top: 440px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover; /*Se kilde 4 i referanseliste*/
}
@media only screen and (min-width: 700px) {
  .header nav, body #grid-index header nav, body #grid-products header nav, body #grid-about header nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .header nav ul, body #grid-index header nav ul, body #grid-products header nav ul, body #grid-about header nav ul {
    flex-direction: row;
  }
  .header nav ul li, body #grid-index header nav ul li, body #grid-products header nav ul li, body #grid-about header nav ul li {
    padding: 0.5rem 0.7rem;
  }
  .header #image, body #grid-index header #image, body #grid-products header #image, body #grid-about header #image {
    top: 200px;
  }
  .header h1, body #grid-index header h1, body #grid-products header h1, body #grid-about header h1 {
    padding: 4rem 0 0 0;
  }
}

/*Oppsett for footeren*/
.footer, body #grid-index footer, body #grid-products footer, body #grid-about footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 3.5rem 2rem 2rem 2rem;
  background-color: #252525;
}
.footer p, body #grid-index footer p, body #grid-products footer p, body #grid-about footer p {
  color: #fff;
}
.footer nav ul, body #grid-index footer nav ul, body #grid-products footer nav ul, body #grid-about footer nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.footer nav ul li, body #grid-index footer nav ul li, body #grid-products footer nav ul li, body #grid-about footer nav ul li {
  list-style: none;
  padding: 0.5rem;
}
.footer nav ul li a, body #grid-index footer nav ul li a, body #grid-products footer nav ul li a, body #grid-about footer nav ul li a {
  color: #fff;
  font-size: 2rem;
}
@media only screen and (min-width: 700px) {
  .footer, body #grid-index footer, body #grid-products footer, body #grid-about footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*Buttons i header-området:*/
.buttons, body #grid-index header nav ul .btn, body #grid-index header section .btn, body #grid-products header nav ul .btn, body #grid-about header nav ul .btn, body #grid-about header section a, body #grid-about main #contact form #send-message {
  background-color: #e6bd43;
  color: #000;
  padding: 1.1rem;
  font-weight: 800;
}
@media only screen and (min-width: 700px) {
  .buttons:hover, body #grid-index header nav ul .btn:hover, body #grid-index header section .btn:hover, body #grid-products header nav ul .btn:hover, body #grid-about header nav ul .btn:hover, body #grid-about header section a:hover, body #grid-about main #contact form #send-message:hover {
    background-color: #252525;
    color: #e6bd43;
  }
}/*# sourceMappingURL=style.css.map */