@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    max-width: 1600px;

    /*Forsiden: grid på hovedkomponentene header, main og footer:*/
    /*CSS for mobil start*/
    #grid-index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "header"
                            "main"
                            "footer";
        
        header{
            grid-area: header;
            height: 950px;
            justify-content: center;
            @extend .header;

            nav{
                ul{
                    #home{
                        font-weight: 800;
                        text-decoration: underline;
                        text-decoration-color: #e6bd43;
                    }

                    .btn{
                        @extend .buttons;
                        text-decoration: none;
                        margin: 0 0 0.5rem 0;
                    }
                }
            }

            #video{
                /*Se kilde 3 i referanseliste*/
                display: none;
            }

            #image{
                opacity: 0.5;
                height: 500px;
            }

            section{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-self: self-start;

                h1{
                    margin: 1rem;
                    font-size: 2.5rem;
                    font-weight: 800;
                    text-align: center;
                }
            
                p{
                    font-size: 1.5rem;
                    padding: 1rem 1rem 2rem 1rem;
                    margin: 0;
                    text-align: center;
                }
            
                .btn{
                    @extend .buttons;
                    text-decoration: none;
                    margin: 0 0 0.5rem 0;
                }
            }
        }

        main{
            grid-area: main;

            #subheading{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 1.5rem;

                h2{
                    font-weight: 800;
                    font-size: 2rem;
                    text-align: center;
                    flex-basis: 85%;
                }

                p{
                    font-size: 1.5rem;
                    text-align: center;
                    flex-basis: 85%;
                }
            }

            #about-our-company{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: #e6bd43;
                padding: 2.5rem 1.5rem;
                justify-content: center;

                #about-text{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    flex-basis: 60%;

                    h2{
                        font-weight: 800;
                    }

                    p{
                        font-size: 1.3rem;
                    }

                    a{
                        text-decoration: none;
                        color: #000;
                        border: 3px solid #000;
                        border-radius: 3px;
                        text-align: center;
                        padding: 0.8rem;
                        font-size: 1.3rem;
                        font-weight: 700;
                        width: fit-content;
                    }

                }
            }

            #services{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                h2{
                    flex-basis: 100%;
                    padding: 2rem 0;
                    display: flex;
                    justify-content: center;
                    font-weight: 800;

                }

                article{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    min-width: 100px;
                    max-width: 300px;
                    flex-grow: 1;
                    padding: 1.5rem 0;

                    i{
                        font-size: 2.5rem;
                    }

                    h3{
                        font-weight: 800;
                        margin: 0.5rem 0;
                    }

                    p{
                        font-size: 1.1rem;
                        text-align: center;
                    }
                }
            }

            #newsletter{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #dfdddd;
                text-align: center;
                height: 250px;

                form{
                    label{
                        font-size: 1.5rem;
                        font-weight: 800;
                        display: block;
                        width: 100%;
                    }

                    #enter-email{
                        padding: 1.45rem 2rem 1.1rem 2rem;
                        border: none;
                    }

                    #sign-up{
                        background-color: #e6bd43;
                        border: none;
                        text-align: center;
                        padding: 0.95rem;
                        margin: 2rem 0 0 0;
                        font-size: 1.2rem;
                        font-weight: 700;
                        width: fit-content;
                    }
                }
            }
        }

        footer{
            grid-area: footer;
            @extend .footer;
        }
    }
    /*Slutt*/
    /*CSS for desktop start*/
    @media only screen and (min-width: 700px) {
        #grid-index{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(3, auto);

            header{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                height: 600px;

                nav{
                    max-height: 188.9px;
                }

                /*Se kilde nr. 5 i referanseliste*/
                div{
                    position: relative;
                    width: 100%;
                    height: 400px;
                    background-color: rgba(255, 255, 255, 0.6);

                    #video{
                        display: block;
                        /*Se kilde 3 i referanseliste*/
                        width: 100%;
                        position: absolute;
                        top: 0;
                        z-index: -1;
                        height: 400px;
                        object-fit: cover; /*Se kilde 4 i referanseliste*/
                    }
                }

                #image{
                    display: none;
                }

                section{
                    flex-basis: 70%;
                    position: absolute;
                    top: 150px;
                }
            }

            main{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;

                #subheading{
                    h2{
                        flex-basis: 60%;
                    }

                    p{
                        flex-basis: 60%;
                    }
                }

                #about-our-company{
                    justify-content: flex-start;

                    #about-image{
                        padding: 0 2rem 0 0;
                    }

                    #about-text{
                        justify-content: center;
                        padding: 0 0 3rem 0;

                        a:hover{
                            background-color: #252525;
                            color: #e6bd43;
                        }
                    }
                }

                #services{
                    justify-content: space-evenly;

                    h2{
                        font-size: 2.5rem;
                    }
                }

                #newsletter{
                    form{
                        label{
                            font-size: 2.5rem;
                        }

                        #sign-up:hover{
                            background-color: #252525;
                            color: #e6bd43;
                        }
                    }
                }
            }

            footer{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
    }
    /*Slutt*/

    /*Portfolio/produktsiden: grid på hovedkomponentene header, main og footer:*/
    /*CSS for mobil start*/
    #grid-products{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "header"
                            "main"
                            "footer";

        header{
            grid-area: header;
            height: 950px;
            justify-content: center;
            @extend .header;

            nav{
                ul{
                    #portfolio{
                        font-weight: 800;
                        text-decoration: underline;
                        text-decoration-color: #e6bd43;
                    }

                    .btn{
                        @extend .buttons;
                        text-decoration: none;
                        margin: 0 0 0.5rem 0;
                    }
                }
            }

            #image{
                opacity: 0.5;
                height: 500px;
            }

            h1{
                font-size: 2.5rem;
                font-weight: 800;
                margin: 0;
                align-self: self-start;
                text-align: center;
            }
        }

        main{
            grid-area: main;
            margin: 1.5rem;

            #navigering{
                h2{
                    border-bottom: 5px solid #e6bd43;
                    font-weight: 800;
                    font-size: 1.7rem;
                    padding: 0 0 1rem 0;
                }

                nav{
                    ul{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        padding: 0;

                        li{
                            list-style: none;
                            padding: 0.4rem;
                            margin: 0.7rem;
                            font-size: 1.5rem;
                            border: 2px solid #000;
                            border-radius: 5px;

                            a{
                                text-decoration: none;
                                color: #000;
                            }
                        }
                    }
                }
            }

            #branding{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                h3{
                    border-bottom: 5px solid #e6bd43;
                    font-weight: 800;
                    font-size: 1.7rem;
                    padding: 0 0 1rem 0;
                    width: 100%;
                }

                article{
                    padding: 0 0 0 1.3rem;
                    flex-grow: 2;
                    max-width: 692px;
                    max-height: 692px;

                    img{
                        width: 100%;
                    }

                    h4{
                        font-weight: 800;
                        margin: 0.5rem 0 2.5rem 0;
                        font-size: 1.3rem;
                    }
                }
            }

            #design{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                h3{
                    border-bottom: 5px solid #e6bd43;
                    font-weight: 800;
                    font-size: 1.7rem;
                    padding: 0 0 1rem 0;
                    width: 100%;
                }

                article{
                    padding: 0 0 0 1.3rem;
                    flex-grow: 2;
                    max-width: 692px;

                    img{
                        width: 100%;
                    }

                    h4{
                        font-weight: 800;
                        margin: 0.5rem 0 2.5rem 0;
                        font-size: 1.3rem;
                    }
                }
            }

            #development{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                h3{
                    border-bottom: 5px solid #e6bd43;
                    font-weight: 800;
                    font-size: 1.7rem;
                    padding: 0 0 1rem 0;
                    width: 100%;
                }

                article{
                    padding: 0 0 0 1.3rem;
                    flex-grow: 2;
                    max-width: 692px;

                    img{
                        width: 100%;
                    }

                    h4{
                        font-weight: 800;
                        margin: 0.5rem 0 2.5rem 0;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        footer{
            grid-area: footer;
            @extend .footer;
        }
    }

    /*Slutt*/
    /*CSS for desktop start*/
    @media only screen and (min-width: 700px) {
        #grid-products{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(3, auto);

            header{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                height: 600px;

                nav{
                    max-height: 188.9px;
                }

                #image{
                    height: 400px;
                }
            }

            main{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;

                #navigering{
                    h2{
                        font-size: 2.5rem;
                    }
                }

                #branding{
                    h3{
                        font-size: 2.5rem;
                    }

                    article{
                        img:hover{
                            transform: scale(1.07); //Se kilde nr. 6 i referanselista
                            transition: 0.7s ease-out; //Dette gjorde jeg i oblig3, og tok derfor inspirasjon derfra
                        }
                    }
                }

                #design{
                    h3{
                        font-size: 2.5rem;
                    }
                }

                #development{
                    h3{
                        font-size: 2.5rem;
                    }
                }
            }

            footer{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
    }
    /*Slutt*/

    /*About-siden: grid på hovedkomponentene header, main og footer:*/
    /*CSS for mobil start*/
    #grid-about{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "header"
                            "main"
                            "footer";
        
        header{
            grid-area: header;
            height: 1500px;
            @extend .header;

            nav{
                ul{
                    #about{
                        font-weight: 800;
                        text-decoration: underline;
                        text-decoration-color: #e6bd43;
                    }

                    .btn{
                        @extend .buttons;
                        text-decoration: none;
                        margin: 0 0 0.5rem 0;
                    }
                }
            }

            #image{
                height: 1050px;
            }

            section{
                background-color: #ffffffa0;
                display: flex;
                flex-direction: column;
                margin: 4rem 3rem 3rem 3rem;
                padding: 2.5rem;
                max-width: 700px;
                height: fit-content;

                h1{
                    font-weight: 800;
                    order: 2;
                    padding: 0;
                    margin: 1.2rem 0 0 0;
                }

                #name{
                    order: 1;
                    margin: 1rem 0 0 0;
                    font-size: 1.3rem;
                }

                #info{
                    order: 3;
                    font-size: 1.3rem;
                }

                a{
                    order: 4;
                    width: fit-content;
                    @extend .buttons;
                    text-decoration: none;
                    margin: 0 0 0.5rem 0;
                }
            }
        }

        main{
            grid-area: main;

            #services{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                h2{
                    flex-basis: 100%;
                    padding: 2rem 0;
                    display: flex;
                    justify-content: center;
                    font-weight: 800;

                }

                article{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    min-width: 100px;
                    max-width: 300px;
                    flex-grow: 1;
                    padding: 1.5rem 0;

                    i{
                        font-size: 2.5rem;
                    }

                    h3{
                        font-weight: 800;
                        margin: 0.5rem 0;
                    }

                    p{
                        font-size: 1.1rem;
                        text-align: center;
                    }
                }
            }

            #clients{
                background-color: #e6bd43;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                padding: 2rem 0.5rem;

                h2{
                    text-align: center;
                    font-weight: 800;
                    width: 100%;
                    padding: 0 0 2rem 0;
                }

                img{
                    padding: 1.5rem;
                }
            }

            #contact{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-evenly;
                background-color: #f5f3f3;

                h2{
                    font-weight: 800;
                    text-align: center;
                    width: 100%;
                }

                form{
                    display: flex;
                    flex-direction: column;
                    padding: 0 2rem 2rem 2rem;

                    h3{
                        font-weight: 800;
                        font-size: 1.4rem;
                    }

                    input{
                        width: 100%;
                        border: none;
                        border-radius: 2px;
                        height: 40px;
                        margin: 0.4rem 0 0.7rem 0;
                    }

                    #type-message{
                        height: 130px;
                    }

                    #send-message{
                        @extend .buttons;
                        margin: 0.2rem 0 0.5rem 0;
                        width: fit-content;
                        border: none;
                        height: fit-content;
                        font-size: 1.1rem;
                    }
                }

                #contact-info{
                    display: flex;
                    flex-direction: column;
                    max-width: 500px;
                    padding: 0 2rem 2rem 2rem;

                    h3{
                        margin: 1rem 0 0.5rem 0;
                        font-weight: 800;
                        font-size: 1.4rem;
                    }

                    p{
                        font-size: 1.3rem;
                    }

                    span{
                        padding: 0.7rem 0;
                        font-size: 1.3rem;

                        i{
                            padding: 0 1.5rem 0 0;
                        }
                    }
                }

                #map{
                    width: 100%;
                    height: 250px;

                    iframe{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        footer{
            grid-area: footer;
            @extend .footer;
        }
    }
    /*Slutt*/
    /*CSS for desktop start*/
    @media only screen and (min-width: 700px) {
        #grid-about{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(3, auto);

            header{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                height: 780px;
                justify-content: end;

                nav{
                    height: 188.9px;
                }

                #image{
                    height: 600px;
                }
            }

            main{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;

                #services{
                    h2{
                        font-size: 2.2rem;
                    }
                }

                #clients{
                    h2{
                        font-size: 2.2rem;
                    }
                }

                #contact{
                    flex-direction: row;
                    align-items: baseline;
                    padding: 3rem 0 0 0;

                    h2{
                        font-size: 2.2rem;
                    }

                    form{
                        flex-basis: 50%;
                    }
                }
            }

            footer{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
    }
    /*Slutt*/
}

/*Oppsett for headeren*/
.header{
    display: flex;
    flex-wrap: wrap;

    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 1rem;

        span{
            display: flex;
            justify-content: center;
            align-items: center;

        }

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;

            li{
                list-style: none;
                font-size: 2rem;
                padding: 0.6rem 0;

                a{
                    text-decoration: none;
                    color: #000;
                }
            }

            #contact-btn{
                padding: 1.3rem 0;
            }
        }
    }

    #image{
        /*Se kilde 3 i referanseliste*/
        width: 100%;
        position: absolute;
        top: 440px;
        z-index: -1;
        object-fit: cover; /*Se kilde 4 i referanseliste*/
    }

    @media only screen and (min-width: 700px) {

        nav{
            flex-direction: row;
            justify-content: space-between;

            ul{
                flex-direction: row;

                li{
                    padding: 0.5rem 0.7rem;
                }
            }
        }

        #image{
            top: 200px;        
        }

        h1{
           padding: 4rem 0 0 0;
        }
    }
}

/*Oppsett for footeren*/
.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 3.5rem 2rem 2rem 2rem;
    background-color: #252525;

    p{
        color: #fff;
    }

    nav{
        ul{
            display: flex;
            flex-direction: row;
            padding: 0;

            li{
                list-style: none;
                padding: 0.5rem;

                a{
                    color: #fff;
                    font-size: 2rem;
                }
            }
        }
    }

    @media only screen and (min-width: 700px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Buttons i header-området:*/
.buttons{
    background-color: #e6bd43;
    color: #000;
    padding: 1.1rem;
    font-weight: 800;

    @media only screen and (min-width: 700px) {
        &:hover{
            background-color: #252525;
            color: #e6bd43;
        }
    }
}

/*Justering av knappen for å skippe til hovedinnhold. Her har jeg brukt samme metode som jeg gjorde i obligen tidligere i kurset.*/
.skip{
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus{
    position: relative;
    left: 0;
    width: auto;
    height: 50px;
    font-size: 1.5rem;
    background-color: #fff;
}

/*Back to top-knapp. Se kilde nr. 9 i referanselisten*/
.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    text-align: end;

    i{
        font-size: 2.1rem;
        padding: 1rem 1.3rem;
        color: #fff;
        background-color: #252525;
        border-radius: 3px;
    }
}